version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8002:8000"
    environment:
      DB_CONNECTION_STRING: mongodb://mongo:27017/map
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      FRONTEND_URL: https://theo-donacik.github.io
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: